ion-title,
ion-text,
.title,
.text,
.description,
.subTitle,
.controller {
  text-align: center;
}

ion-content {
  #map {
    width: 90%;
    height: 20%;
    margin-left: 5%;
    opacity: 0;
    border-radius: 5%;
    position: relative;
    transition: opacity 150ms ease-in;
    display: block;

    &.show-map {
      opacity: 1;
    }
  }
}

.popover {
  z-index: 9;
  background-color: rgb(236, 236, 236);
  // top: unset !important;
  // left: 0 !important;
  bottom: 10%;
  width: 60%;
  height: 10%;
  border-radius: 8%;
  position: relative;
  margin-left: 20%;
  margin-bottom: -20%;
}

.containerOrder{
  width: 80%;
  margin-left: 10%;
  text-align: center;
}


@media (max-width: 375px) {
  .timmer{
    margin-top: 5%;
  }
}