ion-content {
    //--background: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    --ion-background-color: #f7f7f7 !important;

}

ion-title,
ion-text,
.title,
.text,
.description,
.subTitle,
.controller {
    text-align: center;
}

.title {
    font-size: 4.0vh;
}

.description {
    width: 80%;
    margin-left: 10%;
    font-size: 2vh;
}

.subTitle {
    font-family: Barlow_Condensed_Regular;
    font-size: 3vh;
}

.controller {
    margin-left: 5%;
    margin-right: 5%;
    font-family: Barlow_Condensed_Black;
    font-size: 1.35em;
}

.logo {
    width: 21vh;
    height: 21vh;
    display: block;
    margin: auto;
}

.logoVariant {
    width: 35px;
    height: 35px;
    display: block;
    margin: auto;
    color: #979797;
}

.add {
    width: 90%;
    border-radius: 50px;
    height: 6%;
    margin-left: 5%;
    position: absolute;
    bottom: 15%;
    font-family: Barlow_Condensed_Regular;
    font-size: 15px;
    letter-spacing: 4px;
}

.go {
    width: 60%;
    margin-left: 35%;
}

.price {
    margin-left: 10%;
    position: absolute;
    bottom: 3%;
}

.priceText {
    font-size: 12px;
    font-family: Barlow_Condensed_Regular;
}

.priceNumber {
    font-size: 35px;
    font-family: Barlow_Condensed_Black;
}

.cardSelected {
    border-radius: 15%;
    height: 85px;
    width: 85px;
    border: 1px solid;
    padding-top: 6%;
    padding-bottom: 6%;
    position: relative;
    font-size: 12px;
    font-family: Barlow_Condensed_Black;
}


.card {
    border-radius: 15%;
    height: 85px;
    width: 85px;
    border: 1px solid;
    color: #979797;
    padding-top: 6%;
    padding-bottom: 6%;
    position: relative;
    font-size: 12px;
    font-family: Barlow_Condensed_Black;

}

ion-col {
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

ion-scroll[scrollX] {
    white-space: nowrap;

    .scroll-item {
        display: inline-block;
    }
}


.iconBack {
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-left: 10px;

}

.iconController{
    font-size: 30px;
}


@media screen and (max-height: 640px),
screen and (max-width: 375px) {
    .logo {
        width: 100px;
        height: 100px;
        display: block;
        margin: auto;
    }


    .cardSelected {
        background: #684a2e;
        border-radius: 15%;
        //display: inline-block;
        height: 60px;
        width: 60px;
        border: 1px solid;
        padding-top: 6%;
        padding-bottom: 6%;
        // margin: 1rem;
        position: relative;
        font-size: 10px;
        font-family: Barlow_Condensed_Black;
    }


    .card {
        //background: #703702;
        border-radius: 15%;
        //display: inline-block;
        height: 60px;
        width: 60px;
        border: 1px solid;
        padding-top: 6%;
        padding-bottom: 6%;
        // margin: 1rem;
        position: relative;
        font-size: 10px;
        font-family: Barlow_Condensed_Black;

    }

    .logoVariant {
        width: 25px;
        height: 25px;
        display: block;
        margin: auto;
        color: #979797;
    }
}