<ion-content 
  [style.background-image]="'url(' +  this.configModel.background + ')'" 
  [style.background-size]="'cover'"
  [style.background-repeat]="'no-repeat'">
  <img src="{{ this.configModel.logo}}" class="logo">
  <!-- <ion-button expand="block" class="go">EMPEZAR</ion-button> -->
  <!-- <button class="go" [routerLink]="['/products']">EMPEZAR</button> -->
  <!-- <button class="go" (click)="products()" style="background-color : #563517;">EMPEZAR</button> -->



  <button class="go" 
  (click)="products()" 
  [style.background-color]="'#'+ this.configModel.primaryColor">
  EMPEZAR 
</button>
</ion-content>